IMG {
  width: 30em;
  height: 43em;
  opacity: 0.3;
  filter: alpha(opacity=100);
}
 
P {
  background-color: black;
}

body background {
  width:  84em;
  height: 43em;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

