IMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 84em;
  height: 43em;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
 
P {
  background-color: black;
}

background img {
  width: 30em;
  height: 43em;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.imageBack
{
    position: relative;
    top: 0;
    left: 0;
}
.imageTop
{
    position: absolute;
    top: 60px;
    left: 80px;
}
