IMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 84em;
  height: 43em;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
 
P {
  background-color: black;
}

div div img {
  width: 30em;
  height: 43em;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
